.nav{
    background-color: #f7d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.title{
    font-size: 20px;
}

.quiz-options{
    display: flex;
    gap: 25px;
}

.option{
    font-size: 25px;
}

.option:hover{
    color: #c79e9e;
    font-size: 25px;
}


.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
}

